<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        

        &  table th,
         table td {
            border: 1 solid rgb(165, 86, 86);
            padding: 8px;
            text-align: left;
        }

        & th {
            background-color: rgb(185, 125, 125);
            color: rgb(0, 0, 0);
        }
    
    </style>
</head>

<body>
    <h1>LISTA DE PRODUTOS</h1>

    <table>
        <thead>
            <th>
            <td>ID</td>
            <td>Nome</td>
            <td>Descricao</td>
            <td>Preço</td>
            <td>Qtd. Estoque</td>
            <td>Categoria</td>
            <td>Fornecedor</td>
            </th>
        </thead>

        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{produto.id}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.descricao}}</td>
                <td>{{produto.preco}}</td>
                <td>{{produto.quantidadeEstoque}}</td>
                <td>{{produto.categoria}}</td>
                <td>{{produto.fornecedor}}</td>
            </tr>
            {%empty%}

            <tr>
                <td colspan="7"> Nenhum produto encontrado </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>